{% load static %}
<!DOCTYPE html>
<html>
<head>
    
 <script  src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>


<title>Landing Page</title>
   <!-- Created by Ryan Barth -->
   <!-- This is the page that displays after a successful login -->

  

   <!--Custom styles-->
	<link rel="stylesheet" href="{% static 'css/landing.css' %}" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img id="logo" src="{% static 'images/div-pol-logo-black.svg' %}" class="d-inline-block align-top"/>
  </a>
</nav>
<section id="landing" class="page">
    <div id="welcome" class="content">
        <h1>
        Hello {{username}} and thank you for logging in!
        </h1>
    </div>
</section>


</body>
</html>