:root{
    --beige-gold-light:#ECCCAA;
    --beige-gold-dark:#B99F84;
    --dark-grey:#222;
}

body{
    font-family:'Roboto', sans-serif;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
}

a{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover{
    text-decoration:none;
}

.navbar a:first-child{
    border:none;
    padding:0;
    margin:0;
}

.navbar a:first-child:hover{
    background-color:transparent;
    border:none;
}

.navbar a:nth-child(2){
    margin-left:auto;
    margin-right:20px;
    border:none;
}

.navbar a{
    color:var(--beige-gold-dark);
    font-weight:500;
    font-size:0.9em;
    padding:5px;
    border:1px solid var(--beige-gold-dark);
    border-radius:.15rem;
    margin-right: 10px;
}

.navbar a:hover{
    background-color:var(--beige-gold-dark);
    border-color:var(--beige-gold-dark);
    color:#fff;
}

#logo{
    width:18vw;
    max-width:200px;
    padding:10% 5% 2% 5%;
}

.content{
    max-width:700px;
    padding:0 50px 50px 50px;
    min-height:100vh;
    margin:30px auto;
    text-align:center;
}

#desc{
    /* text-align:left; */
}

.submit-form{
    margin-top:50px;
    text-align:left;
    color:#695948;
}

.form-control{
    width:100%!important;
    height:45px;
    border:none;
    border:1px solid var(--beige-gold-dark)!important;
    border-radius:0.15rem;
}

.form-inline{
    width:100%;
    margin-top:-5px;
    flex-flow: row nowrap;
}

label.required::after {
    content:' *';
    color:red;
}

#ui-datepicker-div{
    background:#fff;
    padding:15px;
}

input::-webkit-datetime-edit{ color: transparent; }
input:focus::-webkit-datetime-edit{ color: #000; }

#full-text{
    height:150px;
}

#submit{
    background:#fff;
    color:#695948;
    border:1px solid var(--beige-gold-dark);
    margin-top:5px;
    padding:5px 8px;
    cursor:pointer;
    border-radius:0.15rem;
}

#submit:hover{
    background:var(--dark-grey);
    border-color:var(--dark-grey);
    color:#fff;
}

footer{
    background:#111;
    color:#9D9D9D;
    padding:20px;
    text-align:center;
}

footer a{
    color:#9D9D9D;
}


@media(max-width:744px){
    #logo{
        width:28vw;
    }
}


@media(max-width:414px){
    .navbar a{
        font-size:0.75em;
    }
}